<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body class="app sidebar-mini">

	<nav th:replace="fragments/nav" />

	<!-- Contenido -->
	<main class="app-content"> <!-- Header -->
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-edit"></i> Crear post
			</h1>
			<p>Post form example</p>
		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item">Post</li>
			<li class="breadcrumb-item"><a href="#">Crear post</a></li>
		</ul>
	</div>


	<div class="row">

		<div class="col-md-12">

			<!-- Crear post -->
			<div class="tile">
				<h3 class="tile-title">Crear post</h3>
				<div class="tile-body">
					<!-- Formulario -->
					<form>
						<div class="form-group">
							<label class="control-label">Name</label> <input
								class="form-control" type="text" placeholder="Enter full name">
						</div>
						<div class="form-group">
							<label class="control-label">Email</label> <input
								class="form-control" type="email"
								placeholder="Enter email address">
						</div>
						<div class="form-group">
							<label class="control-label">Address</label>
							<textarea class="form-control" rows="4"
								placeholder="Enter your address"></textarea>
						</div>
						<div class="form-group">
							<label class="control-label">Gender</label>
							<div class="form-check">
								<label class="form-check-label"> <input
									class="form-check-input" type="radio" name="gender">Male
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label"> <input
									class="form-check-input" type="radio" name="gender">Female
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Identity Proof</label> <input
								class="form-control" type="file">
						</div>
						<div class="form-group">
							<div class="form-check">
								<label class="form-check-label"> <input
									class="form-check-input" type="checkbox">I accept the
									terms and conditions
								</label>
							</div>
						</div>
					</form>
				</div>
				<div class="tile-footer">
					<button class="btn btn-primary" type="button">
						<i class="fa fa-fw fa-lg fa-check-circle"></i>Crear
					</button>
					&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i
						class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
				</div>
			</div>

		</div>
	</div>
	</main>

	<!-- JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/plugins/pace.min.js"></script>
</body>
</html>
