<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body class="app sidebar-mini">

	<nav th:replace="fragments/nav" />
	
	<!-- Contenido -->
	<main class="app-content">

	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-users"></i> Lista de post
			</h1>
			
		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item"><a href="#">Lista de post</a></li>
		</ul>
	</div>

 	
	<div class="row user">
		<!-- POST 1-->
		<div class="col-md-6" th:each="post : ${usuarioActivo.post}">
			<div class="timeline-post">
				<div class="post-media">
					<a th:if="${post.autor.foto_perfil != null}" href="#"><img
								th:src="${post.autor.foto_perfil}" width="48" height="48"></a>
					<div class="content">
						<h5>
							<a th:text="${post.autor.username}" th:href="${'/users/perfil/' + post.autor.username}">John Doe</a>
						</h5>
						<p class="text-muted">
							<small th:text="${post.fecha}">2 January at 9:30</small>
						</p>
					</div>
				</div>
				<div class="post-content">
					<div class="btn-group">
						<a class="btn btn-primary" th:href="${'/post/edit/' + post.id}"><i class="fa fa-lg fa-edit"></i></a>
						<a class="btn btn-primary" th:href="${'/post/delete/' + post.id}"><i class="fa fa-lg fa-trash"></i></a>
					</div>
					<h4 th:text="${post.titulo}"></h4>
					<p th:text="${post.contenido}">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis tion ullamco laboris nisi ut aliquip
						ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
						officia deserunt mollit anim id est laborum.</p>
				</div>
				<ul class="post-utility">
					<li class="likes"><a href="#"><i
							class="fa fa-fw fa-lg fa-thumbs-o-up"></i>Like</a></li>
					<li class="shares"><a href="#"><i
							class="fa fa-fw fa-lg fa-share"></i>Share</a></li>
					<li class="comments" th:text="${post.getNumComentarios()}"><i class="fa fa-fw fa-lg fa-comment-o"></i></li>
				</ul>
			</div>
		</div>
	</div>

	
	</main>

	<!-- JS -->
	<script src="../../js/jquery-3.2.1.min.js"></script>
	<script src="../../js/popper.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/main.js"></script>
	<script src="../../js/plugins/pace.min.js"></script>
</body>
</html>
