<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<body class="app sidebar-mini">

	<nav th:replace="fragments/nav" />

	<!-- Contenido -->
	<main class="app-content">

	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-users"></i> Invitaciones de amistad
			</h1>
			<p>Aquí podrás aceptar y rechazar peticiones de amistad</p>
		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item"><a href="#">Lista de
					Invitaciones de amistad</a></li>
		</ul>
	</div>

	<div th:if="${#lists.isEmpty(userList)}" class="row">
		<div class="col-md-12">
			<div class="alert alert-warning">
				<strong>¡Vaya! No tienes a ningún usuario agregado.</strong>
			</div>
		</div>
	</div> 

	<!-- Usuario 1 -->
	<div class="row" th:each="usuario : ${userList}">
		<div class="col-md-12">
			<div class="card mb-3 border-primary">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<h5>
								<a href="#" th:text="${usuario.nombreCompleto}">Usuario</a>
							</h5>
							<a href="#"><img
								src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
						</div>
						<div class="col-md-8">
							<h5>Descripción</h5>
							<p>El usuario <a class="alert-link" th:href="${'/users/perfil/' + usuario.username}" 
								th:text="${usuario.username}">Usuario</a> quiere ser tu amig@</p>
							<button class="btn btn-success" type="button">Aceptar
								invitación</button>
							<button class="btn btn-danger" type="button">Rechazar
								invitación</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/pagination"/>
	
	</main>

	<!-- JS -->
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/plugins/pace.min.js"></script>
</body>
</html>
