<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<div class="page-error">
		<h1>
			<i class="fa fa-exclamation-circle"></i> <span th:text="#{Error.priv}">Error 404 Page not found</span>
		</h1>
		<p th:text="#{Error.fallo}">Error</p>
	</div>
</body>
<!-- JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/plugins/pace.min.js"></script>

</html>
