<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>

	<section class="material-half-bg">
		<div class="cover"></div>
	</section>

	<section class="login-content">
		<div class="logo">
			<h1 th:text="#{Nav.titulo}">Red Social</h1>
		</div>

		<div class="login-box">
			<form class="login-form" method="post" th:action="@{/login}">
				<h3 class="login-head">
					<i class="fa fa-lg fa-fw fa-user"></i><span th:text="#{Login.titulo}">Login</span>
				</h3>

				<div class="form-group">
					<label class="control-label" th:text="#{Login.usuario}">Usuario o email</label> 
					<input class="form-control" type="text" th:placeholder="#{Login.usuario}"
						name="username" required="true" autofocus>
				</div>

				<div class="form-group">
					<label class="control-label">Password</label>
					 <input class="form-control" type="password" placeholder="Password"
						name="password" required="true">
				</div>

				<div class="form-group">
					<div class="utility">
						<p class="semibold-text mb-2">
							<a id="registro" href="/registro" data-toggle="flip" th:text="#{Login.registro}">¿No tienes cuenta?
								Registrate aquí</a>
						</p>
					</div>
				</div>

				<div class="form-group btn-container">
					<button class="btn btn-primary btn-block" type="submit">
						<i class="fa fa-sign-in fa-lg fa-fw"></i><span th:text="#{Login.titulo}">Login</span>
					</button>
				</div>

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />

			</form>

		</div>

	</section>

</body>
<!-- JS -->
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/plugins/pace.min.js"></script>

</html>
