<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>

	<section class="material-half-bg">
		<div class="cover"></div>
	</section>

	<section class="login-content">
		<div class="logo">
			<h1>Red Social</h1>
		</div>

		<div class="login-box">
			<form class="login-form" method="post" action="/login">
				<h3 class="login-head">
					<i class="fa fa-lg fa-fw fa-user"></i>Login
				</h3>

				<div class="form-group">
					<label class="control-label">Usuario o email</label> <input
						class="form-control" type="text" placeholder="Usuario o Email"
						autofocus name="username" required="true">
				</div>

				<div class="form-group">
					<label class="control-label">Password</label> <input
						class="form-control" type="password" placeholder="Password"
						name="password" required="true">
				</div>

				<div class="form-group">
					<div class="utility">
						<p class="semibold-text mb-2">
							<a href="/registro" data-toggle="flip">¿No tienes cuenta?
								Registrate aquí</a>
						</p>
					</div>
				</div>

				<div class="form-group btn-container">
					<button class="btn btn-primary btn-block">
						<i class="fa fa-sign-in fa-lg fa-fw"></i>Login
					</button>
				</div>

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</form>

		</div>

	</section>

</body>
<!-- JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/plugins/pace.min.js"></script>

</html>
