<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>

	<section class="material-half-bg">
		<div class="cover"></div>
	</section>

	<section class="login-content">
		<div class="logo">
			<h1>Red Social</h1>
		</div>

		<div class="login-box">
			<form class="login-form" action="index.html">
				<h3 class="login-head">
					<i class="fa fa-lg fa-fw fa-user"></i>Registrate
				</h3>

				<div class="form-group">
					<label class="control-label">Username</label> <input
						class="form-control" type="text" placeholder="Username" autofocus>
				</div>

				<div class="form-group">
					<label class="control-label">Email</label> <input
						class="form-control" type="text" placeholder="Email" autofocus>
				</div>

				<div class="form-group">
					<label class="control-label">Password</label> <input
						class="form-control" type="password" placeholder="Password">
				</div>

				<div class="form-group">
					<label class="control-label">Repite Password</label> <input
						class="form-control" type="password" placeholder="Password">
				</div>

				<div class="form-group btn-container">
					<button class="btn btn-primary btn-block">
						<i class="fa fa-sign-in fa-lg fa-fw"></i>Registro
					</button>
				</div>

			</form>


		</div>

	</section>

</body>
<!-- JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/plugins/pace.min.js"></script>

</html>
